.contact-section {
  text-align: center;
  padding: 60px 20px;
  /* background-color: #f4f4f4; */
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-btn,
.resume-btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #1DC9b7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-btn:hover,
.resume-btn:hover {
  background-color: #17b0a3;
}
.contact-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;
  gap: 20px; /* Space between buttons */
  margin-top: 20px;
}
.contact-buttons .btn-download {
  width: 200px;
  text-align: center;
}
.section-title {
  position: relative;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

/* Line below the heading */
.section-title::after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #1DC9b7; /* Your accent color */
  margin: 10px auto 0; /* center the line */
  border-radius: 4px;
}
.section-title::after {
  transform: scaleX(0);
  transition: transform 0.5s ease;
  transform-origin: center;
}

.section-title.active-line::after {
  transform: scaleX(1);
}
